{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'main/css/main_big_screen.css' %}" media="(min-width: 1563px)">
    <link rel="stylesheet" href="{% static 'main/css/main_sm_screen.css' %}" media="(min-width: 993px)and (max-width: 1563px)">
    <link rel="stylesheet" href="{% static 'main/css/main_tablet.css' %}" media="(min-width: 768px) and (max-width: 993px)">
    <link rel="stylesheet" href="{% static 'main/css/main_phone.css' %}" media="(max-width: 768px)">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/png" href="{% static 'main/img/big_logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/css/bootstrap.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">


    <title>Timotheeb</title>
</head>
<body>
    <script src="{% static 'main/js/main.js' %}" defer></script>

    <section id="home" class="top">
            <img src="{% static 'main/img/space.jpg' %}" class="bg_space">

            <header>
                <a href="/"><img src="{% static 'main/img/logo.png' %}" class="icon"></a>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <nav class="nav-bar">
                    <ul>
                        <li>
                            <a href="/#home" class="active">Home</a>
                        </li>
                        <li >
                            <a href="/#about">About</a>
                        </li>
                        <li>
                            <a href="/#works">Works</a>
                        </li>

                        <li>
                            <a href="/#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class="text-wrapper appear-animation--up">
                <h5><span class="red-line"></span> Hello There</h5>
                <h1>I am Timofei Baranov.<br>I am an Aspengrove student,<br>planning to become MLE.</h1>
            </div>

            <div class="scroll_down">
                <a href="#about" >Scroll down <i class="fas fa-angle-down"></i></a>
            </div>
            <div class="additional-icons">
                <a href="https://github.com/BaranovTim"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/tim-baranov/"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:tim.dimytch@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
    </section>


        <section id="about" class="section">
            <div class="about_me">
                <div class="introducing">
                    <h1 class="about">About</h1>
                    <h2>Let me introduce myself.</h2>
                    <img src="{% static 'main/img/my_photo.jpg' %}" class="my_photo">
                    <h2 class="text_about_me">
                        Hello. Currently, I am studying in Aspengrove school, in the 12th grade. Always learning something new, something that I will need to know in a future. <br><br> I really enjoy it :)
                    </h2>
                </div>

                <div class="skills">
                    <div class="skills_text">
                        <h1>
                            Hello There!
                        </h1>
                        <h2>
                             At the moment I am learning a framework Pytorch, which I need to know to become Machine Learning Engineer. I am a very self-driven and motivated person. Stress never lets me down, it keeps me going. If this makes me sounds like a scary teammate, you are wrong as I do carry some sense of humour.
                            <br>
                                <br>
                            I am opened to any job opportunities.If you would like me to be part of your team, feel free to email me at <br><a href="mailto:tim.dimytch@gmail.com">tim.dimytch@gmail.com</a>
                        </h2>
                    </div>
                    <div class="skills_div">
                            <h1>Some of my skills:</h1>

                        <div class="appear">
                            <h4>Languages</h4>

                            <ul>
                                <li>
                                    <strong>Python</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>Pascal</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>HTML</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 80%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>CSS</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>C#</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>SQL</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 70%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>


                            <h4>Frameworks</h4>
                            <ul>
                                <li>
                                    <strong>Django</strong>
                                    <div class="progress ">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>Pytorch</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 20%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>

                            </ul>

                            <h4>Others</h4>
                            <ul>
                                <li>
                                    <strong>Restful APIs</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>Git</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>PostgreSQL</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 80%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>Docker</strong>
                                    <div class="progress">
                                        <div class="progress-bar appear-animation--short" role="progressbar" style="width: 30%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cv_button">
                        <a href="{% static 'main/files/tim_baranov_resume.pdf' %}" download class="cv btn ">
                          Download my CV
                        </a>
                    </div>

                <div class="education">
                    <h1>My Education.</h1>
                    <div class="timeline">
                        <div class="timeline_left">
                            <div class="part_of_timeline">
                                <div class="timeline-marker"></div>
                                <h5>2024-2026</h5>
                                <h2>Aspengrove School</h2>
                                <h4>IB: <small> 32/42 </small> </h4>
                                <h6>Studying here right now. Currently learning Pytorch. Trying to do as many projects as possible.</h6>

                            </div>
                            <div class="part_of_timeline">
                                <div class="timeline-marker"></div>
                                <h5>2023-2024</h5>
                                <h2>VIU High School</h2>
                                <h4>GPA: <small> 3.1 / 4.00</small></h4>
                                <h6>Have been studying in VIU High School for a year. Have learned during that school year:
                                    Python (Django), C#, PostgreSQL, Git, Pestful Apis.
                                    So that school year was powerfull for my career!</h6>
                            </div>
                        </div>
                        <div class="timeline_right">
                            <div class="part_of_timeline">
                                <div class="timeline-marker"></div>
                                <h5>2022-2023</h5>
                                <h2>Liceum of Tiraspol</h2>
                                <h4>AVG: <small> 4.875 / 5.00 </small></h4>
                                <h6>Have been studying in Liceum for a year. Have learned HTML, CSS, Pascal.  </h6>
                            </div>
                            <div class="part_of_timeline">
                                <div class="timeline-marker"></div>
                                <h5>2015-2022</h5>
                                <h2>Gymnasium of Tiraspol</h2>
                                <h4>AVG: <small> 5.00 / 5.00</small></h4>
                                <h6>Have been studying here for 7 years. Participated in different math & physics competitions a lot.</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section id="works" class="section">
            <div class="works">
                <div class="intro_works">
                    <h3>Projects</h3>
                    <h1>Check out my projects.</h1>
                    <h5>A combination of personal & school projects. <br> Feel free to contact me for any project collaborations.</h5>
                </div>
                <div class="projects">
                    <div class="sepira_project">
                        <h3>Sepira</h3>
                        <p>Warehouse Stock Tracker <br> (QR scanner included)</p>
                        <div class="shown-pop-up">
                            <img src="{% static 'main/img/sepira.png' %}" data-modal-target="#modal-sepira" class="photo sepira-photo">
                        </div>

                        <div id="modal-sepira" class="modal">
                            <div class="close-button-div">
                                <button data-close-button class="close-button">&times;</button>
                            </div>
                            <div class="modal-title">
                                <h2>Sepira</h2>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img">
                                    <img src="{% static 'main/img/sepira.png' %}" class="photo">
                                </div>
                                <div class="modal-text modal-text-sepira" >
                                    <h3>Description</h3>
                                    <p><strong>Sepira</strong> is a website <!-- currently running on <strong><a href="https://sepira.com">sepira.com</a></strong>,--> designed to manage a system of goods, allowing for their creation, modification, and organization. This platform facilitates the allocation of goods into specific sections within a warehouse using only their QR codes. Workers can add items to the warehouse, retrieve them, and monitor quantities. All operations are supported by a PostgreSQL database.</p>

                                    <p>The QR code scanner is implemented in <strong>JavaScript</strong>, while the backend leverages the <strong>Django framework</strong> written in Python. Additionally, there are unique features for <strong>superusers</strong>—individuals responsible for managing the database. Superusers have access to advanced functionalities, such as adding <strong>news updates</strong> to ensure workers stay informed about the latest developments within the warehouse, as well as tracking worker activities, including the time, item, and quantity involved in each operation.</p>

                                    <h2>Key Features:</h2>
                                    <h3>1. QR Code Scanning:</h3>
                                    <ul>
                                        <li>Scans goods to track and allocate them efficiently within the warehouse.</li>
                                        <li>Links scanned data to the user and timestamp, ensuring traceability.</li>
                                        <li>Workers input the quantity after scanning, which updates the database.</li>
                                    </ul>

                                    <h3>2. Warehouse Operations:</h3>
                                    <ul>
                                        <li>Add goods to the warehouse.</li>
                                        <li>Retrieve goods.</li>
                                        <li>Update item quantities.</li>
                                        <li>Return goods.</li>
                                    </ul>

                                    <h3>3. PostgreSQL Database:</h3>
                                    <ul>
                                        <li>Centralized storage for all data related to goods, users, and operations.</li>
                                    </ul>

                                    <h3>4. Superuser Features:</h3>
                                    <ul>
                                        <li>Manage the database.</li>
                                        <li>Add and edit warehouse-related news.</li>
                                        <li>Track worker actions, including time, items handled, and quantities.</li>
                                    </ul>

                                    <h3>5. News Feature:</h3>
                                    <ul>
                                        <li>Keeps workers informed about the latest updates, changes, and announcements.</li>
                                    </ul>

                                    <h3>6. User Roles:</h3>
                                    <ul>
                                        <li><strong>Workers:</strong> Focus on day-to-day operations like scanning, adding, and managing goods.</li>
                                        <li><strong>Superusers:</strong> Handle administrative tasks and maintain data integrity.</li>
                                    </ul>

                                    <h3>7. Optimized Design:</h3>
                                    <ul>
                                        <li>The interface is specifically tailored for efficient interaction, prioritizing functionality to streamline warehouse operations.</li>
                                    </ul>
                                    <p>The code can be found here: <a href="https://github.com/BaranovTim/Sepira" target="_blank"><br>GitHub Repository</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="notinsta_project">
                        <h3>NotInstagram</h3>
                        <p>Backend for Social Media app</p>

                        <div class="shown-pop-up">
                            <img src="{% static 'main/img/NotInsta.png' %}" data-modal-target="#modal-notinstagram" class="photo">
                        </div>

                        <div id="modal-notinstagram" class="modal">
                            <div class="close-button-div">
                                <button data-close-button class="close-button">&times;</button>
                            </div>
                            <div class="modal-title">
                                <h2>NotInstagram</h2>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img ">
                                    <img src="{% static 'main/img/NotInsta.png' %}" class="photo">
                                </div>
                                <div class="modal-text modal-text-notinsta">
                                    <h3>Description</h3>
                                    <p><strong>NotInstagram</strong> is a backend application developed for a photo-sharing social network. This project focuses on designing and implementing an API for uploading posts and their associated photos, as well as enabling users to comment on and like posts. The project is a practical application aimed at enhancing skills in API development and database integration, with potential use as a portfolio project.</p>

                                    <p>The backend is powered by the <strong>Django framework</strong> in <strong>Python</strong>, and all data is managed using a <strong>PostgreSQL database</strong>.</p>

                                    <h2>Key Features:</h2>

                                    <h3>1. Posts:</h3>
                                    <ul>
                                        <li>Posts consist of text and a photo.</li>
                                        <li>The creation time of each post is stored.</li>
                                        <li>Posts can only be created by authorized users.</li>
                                        <li>Editing a post is restricted to its author.</li>
                                    </ul>

                                    <h3>2. Comments:</h3>
                                    <ul>
                                        <li>Users can write comments on specific posts.</li>
                                        <li>Only authorized users can leave comments.</li>
                                        <li>Each comment includes text and the date it was created.</li>
                                    </ul>

                                    <h3>3. Likes:</h3>
                                    <ul>
                                        <li>Users can react to posts by leaving a like.</li>
                                        <li>The total like count is displayed when viewing a post.</li>
                                    </ul>

                                    <h3>4. API Design:</h3>
                                    <ul>
                                        <li>Endpoints and HTTP methods are carefully designed for ease of use and adherence to RESTful principles.</li>
                                    </ul>

                                    <h3>5. Post Details:</h3>
                                    <ul>
                                        <li>Each post's details include its text, photo, and creation time.</li>
                                        <li>A list of associated comments is displayed with their content and creation dates.</li>
                                        <li>The like count for the post is also shown.</li>
                                    </ul>

                                    <h3>Skills Developed:</h3>
                                    <ul>
                                        <li>Working with Django models for robust data representation.</li>
                                        <li>Implementing serializers to handle data input and output effectively.</li>
                                        <li>Designing RESTful APIs with endpoints and appropriate HTTP methods.</li>
                                        <li>Real-world application of backend development skills.</li>
                                    </ul>

                                    <p>The code for this project is available here: <a href="https://github.com/BaranovTim/Not_Insta" target="_blank">GitHub Repository</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>

        <div class="awards">

        </div>

        <div class="fun_list">
            <ul>
                <li>
                    <h1 class="fun_num" data-target="1000">0</h1>
                    <span>Hours of Coding</span>
                </li>
                <li>
                    <h1 class="fun_num" data-target="500">0</h1>
                    <span>Cups of Coffee</span>
                </li>
                <li class="fun_special">
                    <h1 class="fun_num" data-target="3">0</h1>
                    <span>Projects Completed</span>
                </li>

                <li>
                    <h1 class="fun_num" data-target="4000">0</h1>
                    <span>Hours of Tennis</span>
                </li>
            </ul>
        </div>

        </section>



        <section id="contact" class="section">
            <footer class="footer">
                    <img src="{% static 'main/img/moon.png' %}" class="footer-img footer-img-large">
                    <img src="{% static 'main/img/spaceship_footer.png' %}" class="footer-img footer-img-small">

                    <div class="footer-content">
                        <h2>Let's Connect.</h2>
                        <p>Let's sit down and have a cup of coffee.</p>
                        <div class="contact-info">
                            <p><strong>PHONE</strong><br>(+1) 778 677 9105 </p>
                            <p><strong>EMAIL</strong><br><a href="mailto:tim.dimytch@gmail.com">tim.dimytch@gmail.com</a><br><a href="mailto:tim.baranov@aspengroveschool.com">tim.baranov@aspengroveschool.com</a></p>
                        </div>
                        <div class="social-icons">
                            <a href="https://github.com/BaranovTim"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/tim-baranov/"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:tim.dimytch@gmail.com"><i class="fa fa-envelope"></i></a>
                        </div>
                       <!-- <div class="footer-bottom">
                            <p>Edited by Tim Baranov</p>
                        </div> -->
                    </div>


        </footer>

        </section>

   <div class="preloader">
        <svg viewBox="0 0 100 100">
            <g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
                <path d="M 21 40 V 59">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" values="0 21 59; 180 21 59" dur="2s" repeatCount="indefinite" />
                </path>
                <path d="M 79 40 V 59">
                    <animateTransform attributeName="transform" attributeType="XML" type="rotate" values="0 79 59; -180 79 59" dur="2s" repeatCount="indefinite" />
                </path>
                <path d="M 50 21 V 40">
                    <animate attributeName="d" values="M 50 21 V 40; M 50 59 V 40" dur="2s" repeatCount="indefinite" />
                </path>
                <path d="M 50 60 V 79">
                    <animate attributeName="d" values="M 50 60 V 79; M 50 98 V 79" dur="2s" repeatCount="indefinite" />
                </path>
                <path d="M 50 21 L 79 40 L 50 60 L 21 40 Z">
                    <animate attributeName="stroke" values="rgba(255,255,255,1); rgba(100,100,100,0)" dur="2s" repeatCount="indefinite" />
                </path>
                <path d="M 50 40 L 79 59 L 50 79 L 21 59 Z" />
                <path d="M 50 59 L 79 78 L 50 98 L 21 78 Z">
                    <animate attributeName="stroke" values="rgba(100,100,100,0); rgba(255,255,255,1)" dur="2s" repeatCount="indefinite" />
                </path>
                <animateTransform attributeName="transform" attributeType="XML" type="translate" values="0 0; 0 -19" dur="2s" repeatCount="indefinite" />
            </g>
        </svg>
    </div>

</body>
</html>