body {
    margin: 0;
    padding-left: 0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}



@media (min-width: 993px){
    .bg_space {
        position: absolute; /* Изменено на absolute */
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%; /* Растягиваем фон на весь экран */
        z-index: -1; /* Чтобы фон был на заднем плане */
        object-fit: cover; /* Для заполнения без искажения пропорций */
    }
    .icon {
        display: flex;
        justify-content: start;
        width: 30rem;
        height: 30rem;
        overflow: hidden; /* Чтобы иконка не выходила за рамки */
        margin-top: 1rem;
        margin-left: 5rem;
    }

    .header_buttons {
        position: absolute;
        top: 10rem; /* Расположить блок кнопок сверху */
        right: 10rem; /* Расположить справа */
        display: flex;
        gap: 5rem; /* Отступы между кнопками */
        max-width: 35%;
    }

    .header_buttons button {
        background-color: transparent;
        border: 0.125rem solid white;
        color: white;
        padding: 2rem 4rem;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        align-items: center; /* Выравнивание текста по вертикали */
        justify-content: center; /* Выравнивание текста по горизонтали */
        width: 30rem; /* Адаптивная ширина кнопок */
        height: 9rem; /* Адаптивная высота кнопок */
        font-size: 4rem;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }

    .header_buttons .tai_but {
        border: 0.125rem solid #9b1f1f;
        color: white;
    }

    .text-wrapper {
        margin-left: 60rem;
        margin-top: 70rem;
    }

    .text-wrapper h5 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        color: #9b1f1f; /* Красный цвет текста */
        position: relative;
        display: inline-block;
        margin-bottom: 1.25rem;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }

    .red-line {
        display: inline-block;
        width: 10rem;
        height: 0.5rem;
        background-color: #9b1f1f;
        margin-right: 3rem;
        vertical-align: middle;
        margin-bottom: 1.25rem;
    }

    /* Главный заголовок */
    .text-wrapper h1 {
        font-size: 10rem;
        line-height: 1.5;
        color: #d5d5d5;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }


    .scroll_down {
        margin-left: 380rem;
        margin-top: 77rem;
    }

    .scroll_down button{
        background: None;
        font-size: 4.3rem;
        border: None;
        letter-spacing: 0.125rem;
        position: relative;
        display: inline-block;
        margin-bottom: 1.25rem;
        color: #d5d5d5;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }
    .scroll_down i {
        color: #9b1f1f;
        margin-left: 1rem;
    }
}



/*


@media (min-width: 600px) and (max-width: 992px){
    .bg_space {
        position: absolute; Изменено на absolute
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%; /* Растягиваем фон на весь экран
        z-index: -1; /* Чтобы фон был на заднем плане
        object-fit: cover; /* Для заполнения без искажения пропорций
    }
    .icon {
        display: flex;
        justify-content: start;
        width: 20rem;
        height: 20rem;
        overflow: hidden; /* Чтобы иконка не выходила за рамки
        margin-top: 1rem;
        margin-left: 3rem;
    }

    .header_buttons {
        display: flex;
        flex-wrap: wrap; /* Включаем перенос на следующий ряд
        justify-content: center;
        top: 0rem; /* Расположить блок кнопок сверху
        right: 0rem; /* Расположить справа
        gap: 1rem; /* Отступы между кнопками
    }

    .header_buttons button {
        background-color: transparent;
        flex: 1 1 30%;
        border: 0.125rem solid white;
        color: white;
        padding: 2rem 4rem;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        align-items: center; /* Выравнивание текста по вертикали
        justify-content: center; /* Выравнивание текста по горизонтали
        width: 30rem; /* Адаптивная ширина кнопок
        height: 9rem; /* Адаптивная высота кнопок
        font-size: 4rem;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        flex-basis: 45%; /* Каждая кнопка займет примерно 45% ширины
        margin-bottom: 1rem; /* Отступ между рядами кнопок
        text-align: center; /* Текст по центру
    }
    .header_buttons button:nth-last-child(2),
    .header_buttons button:nth-last-child(1) {
        flex-basis: 45%; /* Ширина кнопок в новом ряду
    }

    .header_buttons .tai_but {
        border: 0.125rem solid #9b1f1f;
        color: white;
    }

    .text-wrapper {
        margin-left: 40rem;
        margin-top: 50rem;
    }

    .text-wrapper h5 {
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        color: #9b1f1f; /* Красный цвет текста
        position: relative;
        display: inline-block;
        margin-bottom: 1.25rem;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }

    .red-line {
        display: inline-block;
        width: 8rem;
        height: 0.4rem;
        background-color: #9b1f1f;
        margin-right: 2rem;
        vertical-align: middle;
        margin-bottom: 1rem;
    }

    /* Главный заголовок
    .text-wrapper h1 {
        font-size: 8rem;
        line-height: 1;
        color: #d5d5d5;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }


    .scroll_down {
        margin-left: 300rem;
        margin-top: 50rem;
    }

    .scroll_down button{
        background: None;
        font-size: 3.5rem;
        border: None;
        letter-spacing: 0.125rem;
        position: relative;
        display: inline-block;
        margin-bottom: 1.25rem;
        color: #d5d5d5;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }
    .scroll_down i {
        color: #9b1f1f;
        margin-left: 1rem;
    }
}

    */




@media (max-width: 768px){
    .bg_space {
        position: absolute; /* Изменено на absolute */
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%; /* Растягиваем фон на весь экран */
        z-index: -1; /* Чтобы фон был на заднем плане */
        object-fit: cover; /* Для заполнения без искажения пропорций */
    }
    .icon {
        display: flex;
        justify-content: start;
        width: 5rem;
        height: 5rem;
        overflow: hidden; /* Чтобы иконка не выходила за рамки */
        margin-top: 1rem;
        margin-left: 0.6rem;
    }

    .header_buttons {
        display: None; /* Бургер вместо них */

    }


    .text-wrapper {
        position: fixed; /* Заменяем absolute на relative для избежания наложения */
        max-width: 100%;
        margin-left: 2rem;
        margin-top: 7rem;
        margin-right: 2rem; /* Добавляем отступ справа */
        word-wrap: break-word; /* Переносим слова при необходимости */
    }

    .text-wrapper h5 {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: #9b1f1f; /* Красный цвет текста */
        position: relative;
        display: inline-block;
        margin-bottom: 2rem;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        padding-top: 0.5rem;
    }

    .red-line {
        display: inline-block;
        width: 3rem;
        height: 0.2rem;
        background-color: #9b1f1f;
        margin-right: 0.3rem;
        vertical-align: middle;
        margin-bottom: 0.1rem;
    }

    /* Главный заголовок */
    .text-wrapper h1 {
        font-size: 1.9rem;
        line-height: 1.5;
        letter-spacing: 0.1rem;
        color: #d5d5d5;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
        max-width: 100%; /* Ограничиваем ширину */
        word-wrap: break-word; /* Переносим слова, если они не помещаются */
        overflow-wrap: break-word; /* Альтернативное свойство для переносов */
    }


    .scroll_down {
        position: fixed;
        bottom: 3.3rem;
        left: 50%; /* Центрирование по оси X */
        transform: translateX(-50%); /* Сдвиг для точного центрирования */
    }

    .scroll_down button{
        background: None;
        font-size: 1rem;
        border: None;
        letter-spacing: 0.125rem;
        position: relative;
        display: inline-block;
        margin-bottom: 0.2rem;
        color: #d5d5d5;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 400;
    }
    .scroll_down i {
        color: #9b1f1f;
        margin-left: 0.1rem;
    }

}



.header_buttons button:hover {
    background-color: white;
    color: black;
}

.header_buttons .tai_but:hover {
    background-color: #691010;
    color: white;
    border: 0.125rem solid white;
}
