
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.top {
    height: 100vh;
    width: 100%;
}


header {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 100%;
    height: 72px;
    top: 0;
    position: relative;
    z-index: 1; /* Чтобы фон был на заднем плане */
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
    margin-top: 4rem;
    margin-right: 1rem;
    @media (max-width: 993px) {
        padding-right: 2rem;
    }
}


.nav-bar ul li a {
    display: block;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;

}
.nav-bar ul li a:hover {
    color: #0D0A0B;
    background: white;
}
.nav-bar ul li a.active {
    color: #0D0A0B;
    background: white;
}

@media only screen and (max-width: 993px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        position: relative;
        z-index: 1010;
    }

    .hamburger .line {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease;


    }

    .hamburger.open .line:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .nav-bar {
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgba(108, 98, 88, 0.5); /* Полупрозрачный фон */
        backdrop-filter: blur(8px); /* Эффект размытия */
        -webkit-backdrop-filter: blur(8px); /* Для Safari */
        border-radius: 15px; /* Закругленные края */
        transition: 0.5s;
        overflow: hidden;
        z-index: 1000;

    }
    .nav-bar.active {
        height: 450px;

    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 2rem auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;

    }
    .nav-bar.active ul {
        opacity: 1;

    }
    .nav-bar ul li a {
        margin-bottom: 1rem;

    }
}


@media (max-width: 600px) {
    .footer-img-large {
        display: none;
    }

    .footer-img-small {
        display: block;
    }
}

@media (min-width: 600px) {
    .footer-img-large {
        display: block;
    }

    .footer-img-small {
        display: none;
    }
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

svg {
    height: 150px;
    width: 150px;
}

.shown-pop-up img{
    cursor: pointer;
}
.shown-pop-up img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Добавляем тень для красоты */
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: -20%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
    z-index: 999;
}
#overlay.active-overlay{
    opacity: 1;
    pointer-events: all;
}


